@if $alegreya
    @font-face
        font-family: 'alegreya-black'
        src: url('../fonts/alegreya/alegreya-black-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-black-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-blackitalic'
        src: url('../fonts/alegreya/alegreya-blackitalic-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-blackitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-bold'
        src: url('../fonts/alegreya/alegreya-bold-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-bold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-bolditalic'
        src: url('../fonts/alegreya/alegreya-bolditalic-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-bolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-extrabold'
        src: url('../fonts/alegreya/alegreya-extrabold-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-extrabold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-extrabolditalic'
        src: url('../fonts/alegreya/alegreya-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-extrabolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-medium'
        src: url('../fonts/alegreya/alegreya-medium-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-medium-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-mediumitalic'
        src: url('../fonts/alegreya/alegreya-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-mediumitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya'
        src: url('../fonts/alegreya/alegreya-regular-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'alegreya-italic'
        src: url('../fonts/alegreya/alegreya-regularitalic-webfont.woff2') format('woff2'), url('../fonts/alegreya/alegreya-regularitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal