/*
 * FONTS
 */
// Roboto - Sans Serif
$roboto : true
@import 'roboto/roboto'
// Lato - Sans Serif
$lato: true
@import 'lato/lato'
// Oswald - Sans Serif
$oswald: true
@import 'oswald/oswald'
// Open Sans - Sans Serif
$open-sans: true
@import 'open-sans/open-sans'
// Raleway - Sans Serif
$raleway: true
@import 'raleway/raleway'
// PT-Sans - Sans Serif
$pt-sans: true
@import 'pt-sans/pt-sans'
// Lora - Serif
$lora: true
@import 'lora/lora'
// Montserrat - Sans Serif
$montserrat: true
@import 'montserrat/montserrat'
// Playfair Display - Serif
$playfair-display: true
@import 'playfair-display/playfair-display'
// BenchNine - Sans Serif
$benchnine: true
@import 'benchnine/benchnine'
// MerriWeather - Serif
$merriweather: true
@import 'merriweather/merriweather'
// Comfortaa - Sans Serif
$comfortaa: true
@import 'comfortaa/comfortaa'
// Alegreya - Serif
$alegreya: true
@import 'alegreya/alegreya'
// B612 - Sans Serif
$b612: true
@import 'b612/b612'
// Muli - Sans Serif
$muli: true
@import 'muli/muli'
// Titillium Web - Sans Serif
$titillium-web: true
@import 'titillium-web/titillium-web'
// Varela - Sans Serif
$varela: true
$varela-round: true
@import 'varela/varela'
// Vollkorn - Serif
$vollkorn: true
@import 'vollkorn/vollkorn'
// IBM Plex - Sans Serif / Serif / Mono
$ibm-plex-sans: true
$ibm-plex-serif: true
$ibm-plex-mono: true
@import 'ibm-plex/ibm-plex'
// Crimson Text - Serif
$crimson-text: true
@import 'crimson-text/crimson-text'
// Cairo
$cairo: false
$biorhyme: false
$karla: false
$frank-ruhl-libre: false
$archivo: false
$spectral: false
$fjalla-one: false
$rubik: false
$source-sans: false
$cardo: false
$cormorant: false
$work-sans: false
$rakkas: false
$concert-one: false
$yatra-one: false
$arvo: false
$abril-fatface: false
$ubuntu: false
$pt-serif: false
$old-standard-tt: false
$poppins: false
$fira-sans: false
$nunito: false
$oxygen: false
$exo-2: false
$noto-sans: false

/*
 * Libs
 */













