@if $lato
    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-black-webfont.woff2') format('woff2'), url('lato-black-webfont.woff') format('woff')
        font-weight: 900
        font-style: normal

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-blackitalic-webfont.woff2') format('woff2'), url('lato-blackitalic-webfont.woff') format('woff')
        font-weight: 900
        font-style: italic

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'), url('lato-bold-webfont.woff') format('woff')
        font-weight: normal
        font-style: 700

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'), url('lato-bolditalic-webfont.woff') format('woff')
        font-weight: 700
        font-style: italic

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-light-webfont.woff2') format('woff2'), url('lato-light-webfont.woff') format('woff')
        font-weight: 300
        font-style: normal

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'), url('lato-lightitalic-webfont.woff') format('woff')
        font-weight: 300
        font-style: italic

    @font-face
        font-family: 'lato'
        src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'latoitalic'
        src: url('../fonts/lato/lato-regularitalic-webfont.woff2') format('woff2'), url('lato-regularitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: italic

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-thin-webfont.woff2') format('woff2'), url('lato-thin-webfont.woff') format('woff')
        font-weight: 100
        font-style: normal

    @font-face
        font-family: 'Lato'
        src: url('../fonts/lato/lato-thinitalic-webfont.woff2') format('woff2'), url('lato-thinitalic-webfont.woff') format('woff')
        font-weight: 100
        font-style: italic