@if $playfair-display
    @font-face
        font-family: 'playfair-display-black'
        src: url('../fonts/playfair-display/playfairdisplay-black-webfont.woff2') format('woff2'), url('../fonts/playfair-display/playfairdisplay-black-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal
    
    @font-face
        font-family: 'playfair-display-blackitalic'
        src: url('../fonts/playfair-display/playfairdisplay-blackitalic-webfont.woff2') format('woff2'), url('../fonts/playfair-display/playfairdisplay-blackitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal
    
    @font-face
        font-family: 'playfair-display-bold'
        src: url('../fonts/playfair-display/playfairdisplay-bold-webfont.woff2') format('woff2'), url('../fonts/playfair-display/playfairdisplay-bold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal
    
    @font-face
        font-family: 'playfair-display-bolditalic'
        src: url('../fonts/playfair-display/playfairdisplay-bolditalic-webfont.woff2') format('woff2'), url('../fonts/playfair-display/playfairdisplay-bolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal
    
    @font-face
        font-family: 'playfair-display'
        src: url('../fonts/playfair-display/playfairdisplay-regular-webfont.woff2') format('woff2'), url('../fonts/playfair-display/playfairdisplay-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal
    
    @font-face
        font-family: 'playfair-display-italic'
        src: url('../fonts/playfair-display/playfairdisplay-regularitalic-webfont.woff2') format('woff2'), url('../fonts/playfair-display/playfairdisplay-regularitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal