@if $pt-sans
    @font-face
        font-family: 'PT Sans'
        src: url('../fonts/pt-sans/ptsans-bold-webfont.woff2') format('woff2'), url('../fonts/pt-sans/ptsans-bold-webfont.woff') format('woff')
        font-weight: 600
        font-style: normal
    
    @font-face
        font-family: 'PT Sans'
        src: url('../fonts/pt-sans/ptsans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/pt-sans/ptsans-bolditalic-webfont.woff') format('woff')
        font-weight: 600
        font-style: italic
    
    @font-face
        font-family: 'PT Sans'
        src: url('../fonts/pt-sans/ptsans-regular-webfont.woff2') format('woff2'), url('../fonts/pt-sans/ptsans-regular-webfont.woff') format('woff')
        font-weight: 400
        font-style: normal
    
    @font-face
        font-family: 'PT Sans'
        src: url('../fonts/pt-sans/ptsans-regularitalic-webfont.woff2') format('woff2'), url('../fonts/pt-sans/ptsans-regularitalic-webfont.woff') format('woff')
        font-weight: 400
        font-style: italic