@if $montserrat
    @font-face
        font-family: 'montserrat-black'
        src: url('../fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-black-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-blackitalic'
        src: url('../fonts/montserrat/montserrat-blackitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-blackitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-bold'
        src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-bolditalic'
        src: url('../fonts/montserrat/montserrat-bolditalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-bolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-extrabold'
        src: url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-extrabolditalic'
        src: url('../fonts/montserrat/montserrat-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extrabolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-extralight'
        src: url('../fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralight-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-extralightitalic'
        src: url('../fonts/montserrat/montserrat-extralightitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralightitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-light'
        src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-lightitalic'
        src: url('../fonts/montserrat/montserrat-lightitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-lightitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-medium'
        src: url('../fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-medium-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-mediumitalic'
        src: url('../fonts/montserrat/montserrat-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-mediumitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat'
        src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-italic'
        src: url('../fonts/montserrat/montserrat-regularitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regularitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-semibold'
        src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-semibolditalic'
        src: url('../fonts/montserrat/montserrat-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-thin'
        src: url('../fonts/montserrat/montserrat-thin-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-thin-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'montserrat-thinitalic'
        src: url('../fonts/montserrat/montserrat-thinitalic-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-thinitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal