@if $oswald
    @font-face
        font-family: 'oswald-bold'
        src: url('../fonts/oswald/oswald-bold-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-bold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'oswald-extralight'
        src: url('../fonts/oswald/oswald-extralight-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-extralight-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'oswald-light'
        src: url('../fonts/oswald/oswald-light-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-light-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'oswald-medium'
        src: url('../fonts/oswald/oswald-medium-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-medium-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'oswald-regular'
        src: url('../fonts/oswald/oswald-regular-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'oswald-semibold'
        src: url('../fonts/oswald/oswald-semibold-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-semibold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'oswald'
        src: url('../fonts/oswald/oswald-variablefont_wght-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-variablefont_wght-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal