@if $b612
    @font-face
        font-family: 'b612-bold'
        src: url('../fonts/b612/b612-bold-webfont.woff2') format('woff2'), url('../fonts/b612/b612-bold-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'b612-bolditalic'
        src: url('../fonts/b612/b612-bolditalic-webfont.woff2') format('woff2'), url('../fonts/b612/b612-bolditalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'b612'
        src: url('../fonts/b612/b612-regular-webfont.woff2') format('woff2'), url('../fonts/b612/b612-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

    @font-face
        font-family: 'b612-italic'
        src: url('../fonts/b612/b612-regularitalic-webfont.woff2') format('woff2'), url('../fonts/b612/b612-regularitalic-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal