@if $comfortaa
    @font-face
        font-family: 'Comfortaa Bold'
        src: url('../fonts/comfortaa/comfortaa-bold-webfont.woff2') format('woff2'), url('../fonts/comfortaa/comfortaa-bold-webfont.woff') format('woff')
        font-weight: 700
        font-style: normal
    
    @font-face
        font-family: 'Comfortaa Light'
        src: url('../fonts/comfortaa/comfortaa-light-webfont.woff2') format('woff2'), url('../fonts/comfortaa/comfortaa-light-webfont.woff') format('woff')
        font-weight: 300
        font-style: normal
    
    @font-face
        font-family: 'Comfortaa Medium'
        src: url('../fonts/comfortaa/comfortaa-medium-webfont.woff2') format('woff2'), url('../fonts/comfortaa/comfortaa-medium-webfont.woff') format('woff')
        font-weight: 500
        font-style: normal
    
    @font-face
        font-family: 'Comfortaa Regular'
        src: url('../fonts/comfortaa/comfortaa-regular-webfont.woff2') format('woff2'), url('../fonts/comfortaa/comfortaa-regular-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal
    
    @font-face
        font-family: 'Comfortaa Semibold'
        src: url('../fonts/comfortaa/comfortaa-semibold-webfont.woff2') format('woff2'), url('../fonts/comfortaa/comfortaa-semibold-webfont.woff') format('woff')
        font-weight: 600
        font-style: normal
    
    @font-face
        font-family: 'Comfortaa'
        src: url('../fonts/comfortaa/comfortaa-variablefont_wght-webfont.woff2') format('woff2'), url('../fonts/comfortaa/comfortaa-variablefont_wght-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal